<li id="home-link" data-hook>
  <%= link_to Obj.root.display_title, scrivito_path(Obj.root) %>
</li>

<%= scrivito_tag_list :span, Obj.root, :toclist do |list, page| %>
  <%= list.tag :li do %>
    <%= link_to page.display_title, scrivito_path(page) %>
  <% end %>
<% end %>

<% if Obj.root.toclist.empty? && scrivito_in_editable_view? %>
  <span>(Hint: Click on the Scrivito icon to the right to create the first subpage.)</span>
<% end %>